<footer>
    <mat-list role="list">
        <mat-list-item role="listitem">
            <a href="https://github.com/Elias288/Chat-Angular">Github Repository</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href="https://elias288.github.io/ElelisPage/">Briefcase</a>
        </mat-list-item>
        <mat-list-item role="listitem" class="copyright">
            <p>Created by <strong>Elías Bianchi</strong> © All rights reserved</p>
        </mat-list-item>
      </mat-list>
</footer>
