    footer {
        padding: .5rem 1rem;
        box-sizing: border-box;
        background: #e7e7e7;
    
        a {
        text-decoration: none;
        }
    }

    @media screen and (min-width: 500px) {
        footer {
            .copyright p {
              width: 100%;
              text-align: center;
            }
        }
    }