<mat-drawer-container class="container" autosize>
    
    <mat-drawer #drawer class="sidenav" mode="side">
        <div class="content">
            <h1>Chat</h1>
            
            <div class="roomConnection">
                <h3>Room: {{room}}</h3>
                <button mat-raised-button
                        matTooltip="copy room id"
                        (click)="copyRoomId()">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="content_copy"></mat-icon>
                </button>
            </div>    
            
            <div class="usersList">
                <ul>
                    <li>{{me.name}} (me)</li>
                    <li *ngFor="let user of users">{{user.name}}</li>
                </ul>
            </div>
    
            <button mat-button color="warn" (click)="disconnect()">Disconnect</button>
        </div>
    </mat-drawer>
    
    <div class="header">
        <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
        </button>
    </div>
    <div class="chatbody">
        <div class="messagesList" #scrollMe>
            <div class="list">
                <div *ngFor="let message of messages" class="message-body {{message.author == me.name ? 'sent' : message.author == 'system' ? 'system' : 'received'}}">
                    <div class="message">
                        <p mat-line class="message-content">{{message.content}}</p>
                        <div mat-line class="message-info">
                            <small>
                                {{message.author}} - <time>{{message.time}}</time>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="inputs">
            <textarea class="textarea" rows="1" placeholder="Message" [(ngModel)]="message"></textarea>
            <button mat-raised-button (click)="sendMessage()">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="send"></mat-icon>
            </button>
        </div>
    </div>
</mat-drawer-container>