.home {
  min-height: 500px;
  box-sizing: border-box;
  padding: 1rem 0;

  h1, h2, h3 {
    text-align: center;
  }

  .home-content {
    margin-top: 1rem;
  }

  .container {
    width: 80%;
    min-height: 100px;
    margin: auto;
    box-sizing: border-box;
    padding: .5rem 0;
  }

  .userslist {
    mat-list > * {
      font-size: 1.3rem;

      a {
        text-decoration: none;
      }
    }
  }

  .rooms {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }
}

