<div class="home">
    <h1>Eleli Chat</h1>
    <div class="home-content">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Users">
                <div class="container userslist">
                    <mat-list>
                        <mat-list-item>
                            <strong>{{me.name}} (me)</strong>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item *ngFor="let user of users">
                            {{user.name}}
                        </mat-list-item>
                        <mat-divider *ngFor="let user of users"></mat-divider>
                    </mat-list>
                </div>
            </mat-tab>
            <mat-tab label="Rooms">
                <form class="container rooms">
                    <mat-checkbox class="example-margin" (change)="toggleDisabled()">Enter room id</mat-checkbox>
                    <mat-form-field class="input-full-width" appearance="fill">
                        <mat-label>Room</mat-label>
                        <input matInput name="room" [(ngModel)]="room" [disabled]="!checkedRoom" (mouseup)="$event.preventDefault()" (focus)="selectAllContent($event)">
                    </mat-form-field>
                    <button mat-flat-button color="primary" type="button" (click)="GetInRoom()">Get in</button>
                </form>
            </mat-tab>
            <mat-tab label="Options">
                <div class="container">
                    <button mat-flat-button color="warn" (click)="logout()">Logout</button>
                </div>
            </mat-tab>
        </mat-tab-group> 
    </div>
</div>